[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dependency = "*"
gunicorn = "*"
django-cors-headers = "*"
django-dotenv = "*"
django-heroku = "*"
djangorestframework = "*"
pipenv = "*"
postgres = "*"
whitenoise = "*"
Django = "*"

[dev-packages]

[requires]
python_version = "3.9"
